.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #085ecc;
}

input {
    font-size: 22px;
}

button {
    font-size: 22px;
}